@model StudentRegistry.Models.Student

@{
    ViewData["Title"] =ViewBag.Heading;
}


<h4>@ViewBag.Heading</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@ViewBag.ActionName">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewBag.Edit!=null)
            {
                <input type="hidden" asp-for="Id" />
            }

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input type="text" asp-for="BirthDate" class="form-control datepicker" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalNr" class="control-label"></label>
                <input asp-for="PersonalNr" class="form-control" />
                <span asp-validation-for="PersonalNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderID" class="control-label"></label>
                <select asp-for="GenderID" class="form-control" asp-items="ViewBag.GenderID"></select>
                <span asp-validation-for="GenderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="დადასტურება" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">სიაში დაბრუნება</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
